<p>volunteer-details-component works!</p>
<div class="card-body">
    <form [formGroup]="detailsForm" >
        <div class="form-group">
               <label for="Name" >volunteer name: </label>
            <input  type="text" formControlName='name' id="name" name="name"/> 
        </div>
        <div class="form-group">
            <label for="id">volunteer id: (const)</label>
            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
        </div>
        <div class="form-group">
            <label for="Days">volunteer Days:</label>
            <br>
            <input type="checkbox"  formControlName="sunday" />ראשון
            <br>
            <input type="checkbox" formControlName="monday" />שני
            <br>  
            <input type="checkbox"  formControlName="tuseday" />שלישי
            <br>  
            <input type="checkbox"  formControlName="wensday" />רביעי
            <br>  
            <input type="checkbox" formControlName="thurhday" />חמישי
            <br>  
            <input type="checkbox"  formControlName="friday" />שישי
            <br>
        </div>


        <button class="btn btn-success" [disabled]="detailsForm.invalid" (click)="saveVolunteeer()" routerLink="/VolunteerList">Save Volunteer</button>
        <br/>
